@font-face {
  font-family: Montserrat-Black;
  src: url('/public/fonts/montserrat/Montserrat-Black.otf');
}

@font-face {
  font-family: Montserrat-Light;
  src: url('/public/fonts/montserrat/Montserrat-Light.otf');
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url('/public/fonts/montserrat/Montserrat-ExtraLight.otf');
}