// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Fonts
@import "fonts";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-family: "Montserrat-Light", Montserrat-Black;
    font-size: 15px;
    background: $brand-bgcolor;

    .padded-section {
        padding: 20px 20px;
        text-align: center;
    }

    ._spacer_down_10 {
        margin-bottom: 10px;
    }
}

label {
    font-weight: normal;
}

.top-thin-bar {
    background-image: linear-gradient(-90deg, #EE00BE 0%, #4C60E5 31%, #838495 57%, #D2DB00 76%, #D9008A 100%);
    height: 0.15em;
}

.top-contact-social-media {
    font-size: 10px;
    text-align: center;
    background: $white;
    line-height: 3em;

    > div {
        border-bottom: 1px solid rgba(240, 240, 240, 0.6);
        color: $black;
        font-family: "Montserrat-ExtraLight";
        font-weight: 400;
    }
}

.navbar {
    margin-bottom: 0px;

    .navbar-brand {
        img {
            height: 1.5em;
        }
    }

    .navbar-default {
        border-color: $brand-pink;
    }
}

.carousel-inner {
    .item {
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 400px;
    }
}

.whity-bg {
    width: 100%;
    display: block;
    background-color: $white;
}

.w3-row-padding {
    padding: 5px 8px;
}

.w3-card-4 {
    float: left;
    width: 31.333%;
    margin: 0px 5px 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1), 0 2px 10px 0 rgba(0,0,0,.11);
    border-radius: .2rem;

    .card_img-anchor {
        height: 250px;
        overflow: hidden;

        img {
            max-width: 100%;
            height: auto;
        }

    }

    .w3-center {
        text-align: center;
    }
}

.btn-primary {
    background-color: #4285F4;
}

.btn {
    font-size: 1.2rem;
    padding: .8rem 2rem;
    margin: 6px;
    border-radius: 2px;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    white-space: normal !important;
    word-wrap: break-word;
    cursor: pointer;
}

.card_title {
    font-weight: 600;
    overflow-x: hidden;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.basic-back-to-top {
    position: fixed;
    bottom: 2em;
    background-color: #305C8A;
    border-radius: 5px;
    border: 1px solid #305C8A;
    right: -3px;
    z-index: 10;
    padding: 7px 6px;

    &:hover {
        cursor: pointer;
    }

    .inner_img {
        background: url(images/top-icon%402x.png) no-repeat;
        background-size: 29px;
        width: 35px;
        height: 33px;
        margin-left: 7px;
        margin-top: -3px;
    }

    .inner_text {
        width: 45px;
        height: 30px;
        font-size: 8px;
        color: #FFF;
        text-align: center;
        line-height: 8px;

        .to-the {
            font-size: 10px;
        }

        .top {
            font-weight: 600;
            font-size: 17px;
        }
    }

    &>span {
        display: block;
        vertical-align: top;
        margin-top: 5px;
    }
}


@media (max-width: 601px) {
    .w3-card-4{
        width: 100%;
        margin: 5px 0px 10px;
    }
}
